policies:
  - name: flow-log-disabled-vpc
    resource: vpc
    filters:
      - type: flow-logs
        enabled: false
      {%- if tags %}
      - or:
        {%- for tag in tags %}
        - "tag:{{ tag }}": "present"
        {%- endfor %}
      {%- endif %}