policies:
  - name: unused-ec2-instances
    resource: ec2
    comment: |
      Report unused instances older than {{ days }} days
    filters:
      - "State.Name": stopped
      {%- for tag in tags %}
      - "tag:{{tag}}": "present"
      {%- endfor %}
      - type: instance-age
        op: gt
        days: {{ days }}